body{
    background-color: rgb(161, 161, 161);
}

.header {
    display: block;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    top: -100px;
    h1 {
        margin-bottom: 0;
    }
    p {
        margin-top: 3px;
    }
}
.icon {
    width: 35px;
    height: 35px;
}

#avatar {
    position: relative;
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    z-index: -1;
}
.avatar {
    background-image: linear-gradient(to right, rgb(161, 161, 161) 0% 15%, transparent 20% 80%, rgb(161, 161, 161) 85% 100%);
    display: block;
}
.contents {
    top: -90px;
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    width: 100%;
}
.contents > div{
    height: 100%;
    vertical-align: middle ;
    height: auto;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: 5px;
    
 }
.roles-list {
    text-align: center;
    display: inline-block;
    list-style-type: "⟶";
}

.lang-div {
    position: relative;
    display: flex;
    justify-content: right;
}
.dl-img{
    position: relative;
    top: 7px;
    width: 30px;
    height: 30px;
}